doctype html
html
  head
    Judith
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/plugins/jquery.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    
  header.header 
    h1
    ul.nav.nav-tabs
     li
      a(href='/logout') SAIR
     li
      a(href='/historicoPesquisas') HISTÓRICO
     li
      a(href='/mapreduce') DADOS DISPONÍVEIS

  body
    block content

