extends layout
block content
	div#container
		div.resultadoPesquisa
			h3 Ô, #{usuario}, sua base do estado #{estado} tá prontinha!
			p Agora é só fazer download nesse link aqui:
			a(href='/download/' + nomeArquivo) Download! :D
