extends layout

block content
	body(onload='reloadPage()')
		div.conteudo
			h1 Ei!
			div.hero-unit 
				p Por favor, aguarde enquanto estamos encontrando seus resultados.
				p Assim que sua pesquisa estiver pronta, traremos o resultado para você ;)	
				div.loading 
					h1 